<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<targets>
		<target name="console" xsi:type="Console"  />

		<target name="file" xsi:type="File"
				fileName="${basedir}/logs/${date:format=yyyy-MM-dd-HH-mm}.log"
				archiveFileName="${basedir}/archives/${date:format=yyyyMMddHHmm}_{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="10"
				maxFileSize="10KB" />
	</targets>

	<rules>
		<logger name="*" minlevel="debug" writeTo="file" />
	</rules>
</nlog>
